<div class="jumbotron">
    <h1>Feed Converter</h1>
    <div>
        Demo website for Feed converter APIs. It can be used to call a rss feed url and get JSON data in return. All returned data are at runtime.Data is not stored or retained. 
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>
            <ol>
                <li>RSS Feed to JSON</li>
            </ol>
           
        </p>
    </div>
    <div class="col-md-4">
        <h2>Examples</h2>
        <p>Here is a plunkr example <a href="http://embed.plnkr.co/JCYH1w7vcI0haF95uCet/" target="_blank">Click here</a></p>
    </div>
    <div class="col-md-4">
        <h2>Source Code</h2>
        <p>Find the source code in <a href="https://github.com/bipindra/feedconvert">https://github.com/bipindra/feedconvert</a> </p>
    </div>
</div>
